$epicColor:green;
$epicColorTwo:greenYellow;

.size{
  width: 100%;
  height: 100%;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.content {
  @extend .size;
  float: right;
  text-align: center;
}
.sidebar {
  height: 100%;
  width: 10%;
  background-color: #c2bdbd;
  float: left;
  display: inline;
}
.fullcontainer {
  @extend .size;
  position: fixed;
}
.viewOne{
 background-color: $epicColor;
 @extend .size;
}
.viewTwo{
 background-color: $epicColorTwo;
 @extend .size;
}
.home{
  @extend .size;
  font-size: 24px;
  font-weight: 600;
}

.title{
  font-size: 28px;
}
.subtitle{
  font-size: 20px;
}
.subsubtitle{
  font-size: 12px;
}
.subsubsubtitle{
  font-size: 10px;
}
@media only screen and (min-width: 768px) {
  .title { font-size: 48px; }
  .subtitle{ font-size: 40px;}
  .subsubtitle{ font-size: 32px;}
  .subsubsubtitle{ font-size: 24px;}
}


.scroll{

  height: 90%; 
  overflow: auto; 
}